h1{
    margin: 0px;
    padding: 0px;
}

p{
    padding : 50px;
}

body{
    background-color: white;
}

.container-in-body{
    background-color: lightpink;
}

.container-in-container{
    background-color: lightgreen;
}

h1{
    position: absolute;
    top: 0px;
    left: 100px;
}



